.allUsersContainer{
    width: 80%;
    margin-left: 20%;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;

    .btn-delete{
        margin-right: 8px;
        color: white;
    }

    .btn-Update{
        color: white;
    }

}




